.idea/
/node_modules
/public/mix-manifest.json
/public/hot
/public/js
/public/css
/public/img
/public/images
/public/storage
/storage/*.key
/vendor
package-lock.json
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
